<% include shared/header %>

<div class="row">
<div class="col col-md-4">
    
    <ul class="list-group">
    <% for(let i=0;  i<taskItems.length; i++) {%>
    <li class="list-group-item"><%=taskItems[i]%></li>
    <%}%>
    </ul>
    </div>
    </div>
    <%include shared/footer%>